<div class="list-group" data-name="sortable">
    <a class="list-group-item" *ngIf="!noPresets" (click)="selectPresets()">
        <div class="list-group-icon" data-name="presets"></div>
        <div class="list-group-text">Presets</div>
    </a>
    <ng-container *ngIf="!noSchema && !noPresets">
        <a class="list-group-item" *ngFor="let item of schema" (click)="selectItem(item)">
            <div class="list-group-icon" [attr.data-name]="item.icon"></div>
            <div class="list-group-text">{{ item.name }}</div>
        </a>
    </ng-container>

    <div class="left-panel-content" *ngIf="noPresets">
        <p>Theme settings was not loaded</p>
        <button (click)="onReloadData()" class="btn btn--blue btn--block">Try again</button>
    </div>
    <div class="left-panel-content" *ngIf="!noPresets && noSchema">
        <p>Theme schema was not loaded</p>
        <button (click)="onReloadData()" class="btn btn--blue btn--block">Try again</button>
    </div>
</div>
